html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
}

img{
    max-width: 50%;
}

.container{
    width: 120rem;
    margin: 0 auto;
}

.navbar a{
    flex-basis: 6%;
}

.nav-items{
    display: flex;
}

.nav-items li{
    margin: 0 3rem;
    font-size: 3rem;
    list-style: none;
}

.nav-items li a:hover{
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0FEEFA;

}

.backgound-image{
    background-image: url("../img/backgound.jpg");
    background-position: center;
    background-size: cover;
    height: 50rem;
}

.backgound-image h1{
    color: white;
    margin: 0 10rem;
}